<%- include('../partials/header') %>

<table>
  <thead>
    <tr id="collsAllName" class="colsAll">
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight No.</th>
      <th>Departs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr class="colsAll" id="<%= (f.departs < new Date()) ? 'past' : '' %>">
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">Details</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>



<%- include('../partials/footer') %>