<%- include('../partials/header') %>

<section id="show-page" >
<section id="flight-details">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight No.: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>

<br>
<a href="/tickets/<%= flight._id %>/new">Add New Ticket</a>
</form>
<br>
<br>  

<form id="add-des-form" method="POST" 
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport
      <select name="airport">
      <% ["AUS", "DFW", "LAX", "SAN", "DEN"].forEach(function(d) { %>
      <% if (flight.airport === d ) { %>
          <% } else if (!flight.destinations.some(destinations => destinations.airport === d)) { %> 
          <option value ="<%= d %>"><%= d %> </option>
          <% } %>
      <% }) %>
      </select>
  </label>
  <label>Arrival:
    <input type="datetime-local" name="arrival" value="">
  </label><br>
    <input class="newDestButton" type="submit" value="Add Layover">
</form>

<h5>Layovers</h5>
<% if (flight.destinations.length) { %>
  <table  >
    <thead>
      <tr id="new-dest">
        <th>Airport</th>
        <th>Arrival (Date & Time)</th>
      </tr>
    </thead>
    <tbody>       
      <% flight.destinations.forEach(function(f) { %>
      <tr id="new-dest">
        <td><%= f.airport %></td>
        <td><%= f.arrival %></td>
      </tr>
      <% }); %>
  <% } else { %>
    <h5>No Additional Stops</h5>
      <% } %>
    </tbody>
  </table>

</section>
<%- include('../partials/footer') %>
