<%- include('../partials/header') %>

<section id="show-page" >
<section id="flight-details">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight No.: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>
<br>

<section id="add-tickets-section" >
<form action="/flights/<%= flight._id %>/tickets/new">
  <input type="submit" value="Add Ticket">
</form>
  <table>
    <thead>
      <tr>
       
        <th>Seat</th>
        <th>Price</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>       
      <tr>
        <% tickets.forEach(function(t) { %>
        <td><%= t.seat %></td>
        <td><%= '$' + t.price %></td>
        <td> 
          <form action="/flights/<%= flight._id %>/tickets/delete?_method=DELETE"
          method="POST"
          class="delete-ticket"
          >  
          <button type="submit">X</button>  
        </form>
        </td>
      </tr>
      <% })%>
 
    </tbody>
  </table>
  <br>
</section>
<br>

<section class="destinations-section">
<form id="add-des-form" method="POST" 
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport
      <select name="airport">
      <% ["AUS", "DFW", "LAX", "SAN", "DEN"].forEach(function(d) { %>
      <% if (flight.airport === d ) { %>
          <% } else if (!flight.destinations.some(destinations => destinations.airport === d)) { %> 
          <option value ="<%= d %>"><%= d %> </option>
          <% } %>
      <% }) %>
      </select>
  </label>
  <label>Arrival:
    <input type="datetime-local" name="arrival" value="">
  </label>
  <div class="des-button"> 
    <input type="submit" value="Add Destination">
    <div>
</form>
<br>
<% if (flight.destinations.length) { %>
  <table  >
    <thead>
      <tr id="new-dest">
        <th>Airport</th>
        <th>Arrival (Date & Time)</th>
      </tr>
    </thead>
    <tbody>       
      <% flight.destinations.forEach(function(f) { %>
      <tr id="new-dest">
        <td><%= f.airport %></td>
        <td><%= f.arrival %></td>
      </tr>
      <% }); %>
  <% } else { %>
    <h5>No Additional Stops</h5>
      <% } %>
    </tbody>
  </table>

</section>
</section>
<%- include('../partials/footer') %>
